Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/*
!Content/Blueprints
!Content/Maps
!**/Animations/
Plugins

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
